.new-transaction-form label,
.new-transaction-form input,
.new-transaction-form select {
  display: block;
  text-align: left;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
}

/* .new-transaction-form .add-btn {
} */
