.transaction-list .date-info {
  min-width: 50px;
  border-right: 1px solid #4f5257;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 5px;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.transaction-list .transaction-container {
  padding: 0 10px;
}

.transaction-list .transaction-info {
  margin-bottom: 5px;
}

.transaction-list .badge {
  padding: 0 10px 3px;
  border-radius: 100px;
  font-size: 0.75rem;
}

.transaction-list .badge--primary {
  background-color: #d85d3e;
}

.transaction-list .badge--secondary {
  background-color: #318d71;
}

.transaction-list .amount-info {
  padding: 5px;
  min-width: 50px;
  font-size: 1.25rem;
  font-weight: 500;
  justify-content: flex-end;
  display: flex;
  align-items: center;
}
