:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(66, 107, 148);
  background: linear-gradient(
      45deg,
      rgba(66, 107, 148, 1) 0%,
      rgba(82, 90, 168, 1) 50%,
      rgba(111, 98, 166, 1) 100%
    )
    no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #d3e8e6;
}

.container {
  max-width: 400px;
  background-color: #202226;
  height: 85vh;
  margin: 0 auto;
  border-radius: 20px;
  padding: 20px 15px;

  display: grid;
  grid-template-rows: auto 1fr auto;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: 0;
}
